<div class="text-center m-5">
  <h1>{{title}}</h1>
  <p>Segunda Pre-Entrega n°2 Llarena Joaquin</p>
  <a href="/products?numPage=1" class="btn btn-outline-dark">Link a Productos</a>
  <a href="/cart" class="btn btn-outline-dark">Link a mi Carrito</a>
</div>